<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="PgwSite" value="https://pgwtest.bpm.bankmellat.ir/pgwchannel/startpay.mellat"/>
    <add key="TerminalId" value="1264218"/>
    <add key="UserName" value="sghma"/>
    <add key="UserPassword" value="sg14"/>
    <add key="BPService.PaymentGatewayImplService" value="https://pgws.bpm.bankmellat.ir/pgwchannel/services/pgw"/>
    <add key="BMIService.PaymentGatewayImplService" value="https://pgws.bpm.bankmellat.ir/pgwchannel/services/pgw"/>
  </appSettings>
  <connectionStrings>
    <add name="CoffCS" connectionString="Data Source=.;Initial Catalog=Coff_Empty;User ID=sa;" providerName="System.Data.SqlClient"/>
    <add name="BMICS" connectionString="Data Source=.;Initial Catalog=SghMahdiyeh;User ID=sa;" providerName="System.Data.SqlClient"/>
    <!--<add name="CoffCS" connectionString="Data Source=5.190.63.6\SQL2008;Initial Catalog=Coff_Test;User ID=sa;Password=CoffEstahban1392" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
    <httpRuntime requestValidationMode="2.0"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
    <authentication mode="Forms">
      <forms defaultUrl="Default.aspx" loginUrl="Login.aspx" cookieless="AutoDetect" path="/" slidingExpiration="true">
        <credentials passwordFormat="Clear">
          <user name="Admin" password="123"/>
        </credentials>
      </forms>
    </authentication>
    <customErrors mode="Off" defaultRedirect="Error.aspx"/>
    <pages theme="Default" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID"/>
    <siteMap enabled="true">
      <providers>
        <add name="PortalSiteMapProvider" type="System.Web.XmlSiteMapProvider" securityTrimmingEnabled="true" siteMapFile="~/Web.sitemap"/>
      </providers>
    </siteMap>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="default.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>